<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Banco de Questões</title>
</head>

<body ng-app="banco-questoes">
    <div class="col-md-10" ng-controller="VisualisarPerguntaController">
        <h3>Pergunta</h3>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-9">
            {{pergunta.pergunta}}

        </div>
        <br>
        <br>
        <div class="col-md-4 col-md-offset-6">
            Dados do Autor
        </div>
        <br>
        <br>
        <div class="col-md-8 col-md-offset-1" ng-repeat="comentario in pergunta.comentarios">
            {{comentario.usuarioId}}
            <br> {{comentario.descricao}}
            <br> {{comentario.data}}
            <br> Autor
            <br>
        </div>
        <a href="#" ng-click="abreModalPergunta()">Comentar</a>
    </div>
    <br>
    <br>
    <div class="col-md-10">
        <h4>Respostas</h4>
        <ul class="nav nav-tabs">
            <li role="antigas"><a href="#">ativas</a></li>
            <li role="maisAntigas"><a href="#">mais antigas</a></li>
            <li role="votos" class="active"><a href="#">votos</a></li>
        </ul>
        <br>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-9" ng-repeat="reposta in pergunta.respostas">
            {{resposta.usuarioId}}
            <br> {{resposta.data}}
            <br> {{resposta.alternativaId}}
            <br> {{resposta.justificativa}}
            <br> Resposta: "Proin molestie, turpis eget tristique hendrerit, elit dui finibus eros, et maximus nisl nisl sit amet lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque sapien quis metus congue molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus massa, molestie ac luctus eu, interdum eu felis."

            <div class="col-md-8 col-md-offset-1" ng-repeat="comentario in resposta.comentarios">
                Comentário: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus massa, molestie ac luctus eu, interdum eu felis. Autor {{comentario.usuariosId}}
                <br> {{comentario.descricao}}
                <br> {{comentario.data}}
                <br>
                <br>
                <a href="#" ng-click="abreModalResposta()">Comentar</a>
            </div>

        </div>
        <br>
        <br>
        <div class="col-md-4 col-md-offset-6">
            Dados do Autor
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-10">
        <h4>Sua Resposta</h4>
        <div class="col-md-8 align-center">
            <textarea class="form-control" rows="10" style="resize:none"></textarea>
            <br>
            <div "col-md-3 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Responder</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="col-md-12" ng-controller="VisualisarPerguntaController">
        <div class="modal fade" id="modalComentaPergunta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Escrever um Comentário</h4>
                    </div>
                    <div class="modal-body">
                        <form name="comentaPergunta" class="form-horizontal" ng-submit="">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-label">Comentário:</label>
                                <div class="col-sm-8">
                                    <textarea ng-model="novoComentarioPergunta.comentarioPergunta" class="form-control" rows="10" style="resize:none"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Comentar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->

        <!-- Modal -->
        <div class="col-md-12" ng-controller="VisualisarPerguntaController">
            <div class="modal fade" id="modalComentaResposta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Escrever um Comentário</h4>
                        </div>
                        <div class="modal-body">
                            <form name="comentaResposta" class="form-horizontal" ng-submit="">
                                <div class="form-group col-md-12">
                                    <label class="col-md-4 control-label">Comentário:</label>
                                    <div class="col-sm-8">
                                        <textarea ng-model="novoComentarioResposta.comentarioResposta" class="form-control" rows="10" style="resize:none"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Comentar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Modal -->

</body>
